<h1>Lista de reservas</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Professor</th>
    <th>Recurso</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reservas.each do |reserva| %>
  <tr>
    <td><%= reserva.data %></td>
    <td><%= reserva.professor.nome if reserva.professor %></td>
    <td><%= reserva.recurso.nome if reserva.recurso %></td>
    <td><%= link_to 'Show', reserva, class: "btn btn-success" %></td>
    <td><%= link_to 'Editar', edit_reserva_path(reserva), class: "btn btn-warning" %></td>
    <td><%= link_to 'Destruir', reserva, class: "btn btn-danger", confirm: 'Você tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Reserva', new_reserva_path, class: "btn" %>
