<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @reserva.data %>
</p>

<p>
  <b>Professor:</b>
  <%= @reserva.professor %>
</p>

<p>
  <b>Recurso:</b>
  <%= @reserva.recurso %>
</p>


<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
