<h1>Lista de Recursos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Serie</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recursos.each do |recurso| %>
  <tr>
    <td><%= recurso.nome %></td>
    <td><%= recurso.serial %></td>
    <td><%= link_to 'Show',  recurso, class: "btn btn-success" %></td>
    <td><%= link_to 'Editar',  edit_recurso_path(recurso),  class: "btn btn-warning" %></td>
    <td><%= link_to 'Destruir', recurso, class: "btn btn-danger", confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Recurso', new_recurso_path, class: "btn" %>
